/*
https://raw.githubusercontent.com/I-am-R-E/Functional-Store-Hub/Master/Nicegram/QuantumultX.snippet
解锁Nicegram会员(2022.07.15)
*/

^https?:\/\/restore-access\.indream\.app\/restoreAccess\?id=\w+$ url script-echo-response https://raw.githubusercontent.com/wanfc/rule/re/Nicegram/nicegram146.js

hostname = restore-access.indream.app
