#!name=流@利@说·阅读
#!desc=解锁流@利@说·阅读会员、解锁阅读权限、解锁音频权限等

[rewrite_local]
^https?:\/\/vira\.llsapp\.com\/api\/v\d\/\w+\/\w+$ url script-response-body https://raw.githubusercontent.com/wanfc/rule/re/Liulishuo/lls.js

[mitm]
hostname = vira.llsapp.com
